# CityFlow Backend Environment Variables

# Port for Express server
PORT=5000

# MongoDB Connection String:
# 1. For Local MongoDB:
# MONGODB_URI=mongodb://127.0.0.1:27017/cityflow
#
# 2. For Free MongoDB Atlas Cloud Database:
# MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.abcde.mongodb.net/cityflow?retryWrites=true&w=majority
MONGODB_URI=mongodb://127.0.0.1:27017/cityflow

# Node Environment
NODE_ENV=development
